*{
    margin: 0px;
    padding: 0px;
   
}

body{
  width: 900px;  
background: white;
}
h1{text-align: center;}
.container{
    margin:auto;
    padding: 40px;
    display: grid;
    background-color: aquamarine;
    width: 900px;
    height:650px;
    grid-template-columns: 400px 400px;
    grid-template-rows: 50px 550px;
    grid-gap: 10px;
    
}
header{
    color: aliceblue;
    background: brown;
    grid-column: 1/3;
    
    
}

.sketch {
     grid-column: 1/2;

}

aside{
     color: aliceblue;
    background: black;
     grid-column: 2/3;
   
}
